@using Congressus.Web.Helpers;
@using Congressus.Web.Enumeraciones;
@using System.ComponentModel.DataAnnotations;
@model Congressus.Web.Controllers.FormularioBecaViewModel

@{
    ViewBag.Title = "Inscripcion a beca";
}

<h4 class="teal-text">Inscripcion a beca</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FormularioBecaViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-red" })
        
        @Html.HiddenFor(model => model.EventoId)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoPostal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>
                    <input type="checkbox" name="PresentaTrabajo" id="PresentaTrabajo" vaue="@Model.PresentaTrabajo"/>
                    @Html.LabelFor(model => model.PresentaTrabajo, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                @Html.ValidationMessageFor(model => model.PresentaTrabajo, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaCientificaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AreaCientificaId, Model.AreasCientificas, new { @class = "browser-default", id = "AreaCientifica" })
                @Html.ValidationMessageFor(model => model.AreaCientificaId, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumCheckBoxGroup("CategoriaId", typeof(CategoriaBecaEnum))
                @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Universidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Universidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Universidad, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Carrera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Carrera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Carrera, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PorcentajeCarrera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PorcentajeCarrera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PorcentajeCarrera, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromedioParcial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromedioParcial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PromedioParcial, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TituloGrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TituloGrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TituloGrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AñoGrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AñoGrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AñoGrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TituloPosgrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TituloPosgrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TituloPosgrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AñoPosgrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AñoPosgrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AñoPosgrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PorcentajePosgrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PorcentajePosgrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PorcentajePosgrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DirectorPosgrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DirectorPosgrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DirectorPosgrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LugarTrabajoPosgrado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LugarTrabajoPosgrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LugarTrabajoPosgrado, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosicionActual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PosicionActual, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PosicionActual, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Puesto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Puesto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
