@using Congressus.Web.Helpers;
@using Congressus.Web.Enumeraciones;
@using System.ComponentModel.DataAnnotations;
@model Congressus.Web.Controllers.FormularioBecaViewModel

@{
    ViewBag.Title = "Inscripcion a beca";
}

<h4 class="teal-text">Inscripcion a beca</h4>

@using (Html.BeginForm("Crear","Becas",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-red" })
        
        @Html.HiddenFor(model => model.EventoId)

        @Html.Partial("Partials/_DatosPersonales", Model)

        <div class="form-group">
            <div class="col-md-10">
                <p>
                    <input type="checkbox" name="PresentaTrabajo" id="PresentaTrabajo" vaue="@Model.PresentaTrabajo"/>
                    @Html.LabelFor(model => model.PresentaTrabajo, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                @Html.ValidationMessageFor(model => model.PresentaTrabajo, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaCientificaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AreaCientificaId, Model.AreasCientificas, new { @class = "browser-default", id = "AreaCientifica" })
                @Html.ValidationMessageFor(model => model.AreaCientificaId, "", new { @class = "text-red" })
            </div>
        </div>

        <div class="form-group" id="CategoriaId">
            @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumCheckBoxGroup("CategoriaId", typeof(CategoriaBecaEnum))
                @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-red" })
            </div>
        </div>
        <div id="SeccionAlumnoGrado">
            @Html.Partial("Partials/_Alumno", Model)
        </div>
        <div id="SeccionDemasCategorias">
            @Html.Partial("Partials/_DemasCategorias", Model)
        </div>   

        <div class="form-group">            
            <button class="btn waves-effect"  type="submit">Enviar</button>           
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>


@section scripts{
    <script type="text/javascript">
        $("document").ready(function () {
            init();
            
        });

        function init() {
            //AreaCientifica aparece al checkear PresentaTrabajo
            $("#PresentaTrabajo").on("change", presentaTrabajoChange);
            presentaTrabajoChange();
            //Segun el valor de CategoriaId, se muestra la vista parcial de Graduado o DemasCategorias.
            $("#CategoriaId").on("change", categoriaIdChange);
            $("#SeccionAlumnoGrado").css("display", "none");
            $("#SeccionDemasCategorias").css("display", "none");
        }

        function presentaTrabajoChange() {
            var checkBox = $("#PresentaTrabajo");
            var areaCientifica = $("#AreaCientifica").parent().parent();
            var select = $("#AreaCientifica");
            if (checkBox.prop('checked')) {
                areaCientifica.css("display", "block");
                checkBox.val("true");
            } else {
                checkBox.val("false");
                areaCientifica.css("display", "none");
                select.val(0);
            }
        }
        function categoriaIdChange(e) {
            var alumno = $("#SeccionAlumnoGrado");
            var demas = $("#SeccionDemasCategorias");
            if (e.target.value == 1) {
                alumno.css("display", "block");
                demas.css("display", "none");
                resetDemas();
            } else {
                alumno.css("display", "none");
                demas.css("display", "block");
                resetAlumno();
            }
        }

        function resetAlumno() {
            var universidad = $("#Universidad");
            var carrera = $("#Carrera");
            var porcentajeCarrera = $("#PorcentajeCarrera");
            var promedioParcial = $("#PromedioParcial");

            universidad.val("");
            carrera.val("");
            porcentajeCarrera.val(0);
            promedioParcial.val(0);
        }

        function resetDemas() {
            var TituloGrado = $("#TituloGrado");
            var AñoGrado = $("#A_oGrado");
            var TituloPosgrado = $("#TituloPosgrado");
            var AñoPosgrado = $("#A_oPosgrado");
            var PorcentajePosgrado = $("#PorcentajePosgrado");
            var DirectorPosgrado = $("#DirectorPosgrado");
            var LugarTrabajoPosgrado = $("#LugarTrabajoPosgrado");
            var PosicionActual = $("#PosicionActual");
            var Puesto = $("#Puesto");

            TituloGrado = TituloGrado.val("");
            AñoGrado = AñoGrado.val(0);
            TituloPosgrado = TituloPosgrado.val("");
            AñoPosgrado = AñoPosgrado.val(0);
            PorcentajePosgrado = PorcentajePosgrado.val(0);
            DirectorPosgrado = DirectorPosgrado.val("");
            LugarTrabajoPosgrado = LugarTrabajoPosgrado.val("");
            PosicionActual = PosicionActual.val("");
            Puesto = Puesto.val("");


        }
    </script>    
}