@using Share.Bonnet.AjaxDropDownList;
@model Congressus.Web.Models.CrearMiembroViewModel

@{
    ViewBag.Title = "Crear";
    //SelectList eventos = ViewBag.Eventos;
}

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>Miembro Comite</h4>
        <hr />
        @Html.ValidationSummary(true)
        
        <div>
            @Html.Label("Evento")
            <div>
                @Html.DropDownListFor(
                    model => model.EventoId, Model.Eventos,
                    new { @class = "browser-default", id = "eventoId" },
                    Ajax.UpdateActionFor(model => model.AreaCientificaId,
                                         new AjaxUpdateOptions()
                                         {
                                             DisableTargetWhenEmpty = true,
                                             Url = Url.Action("AreasCientificas", "Miembros")
                                         })
                    )
                @Html.ValidationMessageFor(model => model.EventoId)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Nombre)
            <div>
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Apellido)
            <div>
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.AreaCientificaId)
            <div>
                @Html.DropDownListFor(
                            model => model.AreaCientificaId,
                            Model.AreasCientificas,
                            new
                            {
                                @class = "browser-default",
                            }
                )
                @Html.ValidationMessageFor(model => model.AreaCientificaId)
            </div>
        </div>

            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            @Html.LabelFor(model => model.Password)
            <div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            @Html.LabelFor(model => model.Confirm)
            <div>
                @Html.EditorFor(model => model.Confirm)
                @Html.ValidationMessageFor(model => model.Confirm)
            </div>

            <div>
                <button type="submit" class="btn waves-effect waves-light black" >
                Crear 
                <i class="material-icons right">send</i></button>
            </div>
    </div>
}

<div>
    <a href="javascript:history.back()">Volver</a>
</div>
