@model Congressus.Web.Models.Entities.MiembroComite

@{
    ViewBag.Title = "Miembro - Detalle";
}

<h2 class="teal-text text-darken-2">Perfil</h2>
<style>
   

</style>
<div>
    <h4 class="teal-text ">Miembro Comité</h4>
    <hr />

    <br/>

    <table class="striped detailsTable">
        <tr></tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Email:</strong></th>
            <td><span>@Model.Usuario.Email</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Nombre:</strong></th>
            <td><span>@Model.Nombre</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Apellido:</strong></th>
            <td><span>@Model.Apellido</span></td>
        </tr>
    </table>
   
    <h5 class="teal-text">Áreas Científicas</h5>
    <table class="">
        <tr>
            <th>Evento</th>
            <th>Área cientifia</th>
        </tr>
        @foreach (var area in Model.AreaCientifica)
        {
            <tr>
                <td>@area.Evento.Nombre</td>
                <td>@area.Descripcion</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a href="javascript:history.back()">Volver</a>
</p>
