@model Congressus.Web.Models.CharlaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Crear Charla/Taller</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EventoId)

    <div class="input-field">
        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(model => model.Titulo)
    </div>
    <div class="input-field">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextAreaFor(model => model.Descripcion)
        @Html.ValidationMessageFor(model=> model.Descripcion)
    </div>
    <div>
        @Html.LabelFor(model => model.Fecha)
        @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "input-field", name ="FechaHora", id="FechaHora"} })
        @Html.ValidationMessageFor(model => model.Fecha)
    </div>
    <p>
        <input type="checkbox" id="TipoTaller"/>
        <label for="TipoTaller">Es una charla tipo taller con cupo limitado?</label>
    </p>

    <div class="">
        @Html.LabelFor(model => model.Cupo)
        <input type="number" min ="0" disabled class="input-field" name="Cupo" id="Cupo" value="0" />
        @Html.ValidationMessageFor(model => model.Cupo)
    </div>
    <div class="input-field">
        @Html.LabelFor(model => model.Lugar)
        @Html.TextBoxFor(model => model.Lugar)
        @Html.ValidationMessageFor(model => model.Lugar)
    </div>
    <div>
        @Html.LabelFor(model => model.Papers)
        @Html.DropDownList("PaperId", Model.Papers, new { @class= "browser-default input-field" })
        @Html.ValidationMessageFor(model => model.PaperId)
    </div>

    <div>
        <button type="submit" class="btn waves-effect waves-light">Crear</button>
    </div>
    
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $('document').ready(function () {
            var checkbox = $("#TipoTaller");
            checkbox.change(function () {
                if (checkbox.is(":checked")) {
                    $("#Cupo").prop("disabled", "");
                } else {
                    $("#Cupo").prop("disabled", "false");
                    $("#Cupo").val(0);
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

