@using Congressus.Web.Helpers;
@using Congressus.Web.Enumeraciones;
@using System.ComponentModel.DataAnnotations;
@model Congressus.Web.Controllers.FormularioBecaViewModel
@{
    var htmlAttributes = (Dictionary<string,object>)ViewData["htmlAttributes"];
}


<div class="col s6 form-group">
    @Html.LabelFor(model => model.Universidad, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Universidad, new { htmlAttributes })
        @Html.ValidationMessageFor(model => model.Universidad, "", new { @class = "text-red" })
    </div>
</div>

<div class="col s6 form-group">
    @Html.LabelFor(model => model.Carrera, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Carrera, new { htmlAttributes })
        @Html.ValidationMessageFor(model => model.Carrera, "", new { @class = "text-red" })
    </div>
</div>

<div class="row">
    <div class="col s3 form-group">
        @Html.LabelFor(model => model.PorcentajeCarrera, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PorcentajeCarrera, new { htmlAttributes })
            @Html.ValidationMessageFor(model => model.PorcentajeCarrera, "", new { @class = "text-red" })
        </div>
    </div>

    <div class="col s3 form-group">
        @Html.LabelFor(model => model.PromedioParcial, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PromedioParcial, new { htmlAttributes })
            @Html.ValidationMessageFor(model => model.PromedioParcial, "", new { @class = "text-red" })
        </div>
    </div>
</div>