@using Congressus.Web.Helpers;
@using Congressus.Web.Enumeraciones;
@using System.ComponentModel.DataAnnotations;
@model Congressus.Web.Controllers.FormularioBecaViewModel

<h5 class="teal-text">Datos personales</h5>
<div class="col s12 form-group">
    @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-red" })
    </div>
</div>
<div class="row">
    <div class="col s6 form-group">
        @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-red" })
        </div>
    </div>

    <div class="col s6 form-group">
        @Html.LabelFor(model => model.CodigoPostal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-red" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6 form-group">
        @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-red" })
        </div>
    </div>

    <div class="col s3 form-group">
        @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-red" })
        </div>
    </div>

    <div class="col s3 form-group">
        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-red" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6 form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-red" })
        </div>
    </div>

    <div class="col s6 form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
        </div>
    </div>
</div>