@using Microsoft.AspNet.Identity;
@model Congressus.Web.Models.Entities.Evento
@{ 
    Layout = "~/Views/Eventos/_AdministrarLayout.cshtml";
    var papers = Model.Papers;
}

@* TABS *@
<ul class="tabs tabs-fixed-width">
    <li class="tab col s3"><a href="#Papers" class="active" >Papers</a></li>
    <li class="tab col s3"><a href="#Charlas">Charlas</a></li>
    <li class="tab col s3"><a href="#Programa">Programa</a></li>
</ul>
@* TAB Papers *@
<div id="Papers">
    <h5 class="teal-text">Papers de este evento</h5>
    <table class="striped detailsTable">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Evaluacion</th>
            <th>Area Cientifica</th>
            <th>Descripcion</th>
            <th>Autor</th>
            <th>Evento</th>
            <th>Estado</th>
        </tr>
        @foreach (var paper in papers)
        {
            <tr class="hoverableTr tooltipped"
                onClick="window.location = '/Papers/Details/'+@paper.Id"
                data-position="left"
                data-delay="50"
                data-tooltip="Ver">
                <td><i class="material-icons icono-small">description</i></td>
                <td>@paper.Nombre</td>
                <td>
                    @if (paper.Evaluacion != null)
                    {
                        <p>@paper.Evaluacion.Comentario</p>
                    }
                    else
                    {
                        <p>Sin evaluacion</p>
                    }
                </td>
                <td>@paper.AreaCientifica</td>
                <td>@paper.Descripcion</td>
                <td>@paper.Autor.Nombre</td>
                <td>@paper.Evento.Nombre</td>
                <td>@Html.Partial("_PaperEstadoField", paper)</td>
            </tr>
        }
    </table>
    <hr />
</div>
@* TAB Charlas *@
<div id="Charlas">
    @Html.Partial("_CharlasPartial", Model.Charlas)
    <br />
    <a href="@Url.Action("Create", "Charlas",new { eventoId = Model.Id })" class="modal-trigger btn-floating btn-large waves-effect waves-light green tooltipped"
       data-position="top"
       data-delay="50"
       data-tooltip="Agregar charla">
        <i class='material-icons'>add</i>
    </a>
</div>

@* TAB Programa *@
<div id="Programa">
    <h4 class="teal-text">Programa</h4>
    <h5>Sube el programa del evento en un archivo PDF para que los asistentes puedan verlo online y descargarlo!</h5>

    @using (Html.BeginForm("SubirPrograma", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("Id", Model.Id)
        <div class="file-field input-field">
            <div class="btn">
                <span>Abrir</span>
                <input type="file" name="Imagenes">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Selecciona un archivo PDF">
            </div>
            @Html.ValidationMessage("Imagenes", new { @class = "red-text" })
        </div>
        <button class="btn waves-effect waves-ligt blue darken-2" type="submit">Subir</button>
    }
    <br />
</div>
