@using Microsoft.AspNet.Identity;
@model IEnumerable<Congressus.Web.Models.Entities.Evento>

@{
    ViewBag.Title = "Buscar evento";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <h4>Buscar eventos</h4>
    <div class="input-field">
        @using (Html.BeginForm("BuscarEvento", "Eventos", FormMethod.Post))
        {
            <input class="" type="text" id="filter" name="patron" />
            <label for="filter">Buscar evento</label>
            <button type="submit" class="btn-floating green"><i class="material-icons">search</i></button>
        }
    </div>
    <table class="striped">
        <tr></tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinTrabajos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinTrabajos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFinInscripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lugar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema)
                </td>
                <td>
                    @Html.ActionLink("Ver", "Details", new { id = item.Id })
                    @if (User.IsInRole("autor"))
                    {
                        <span>|</span>
                        <a href="/Papers/Create?eventoId=@item.Id">Enviar paper</a>
                    } 
                    @if (User.IsInRole("admin") || (User.IsInRole("presidente") && User.Identity.GetUserId() == item.Presidente.UsuarioId))
                    {
                        <span>|</span>
                        @Html.ActionLink("Administrar", "Administrar", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    }
                </td>

            </tr>
        }

    </table>
</div>
