@using Microsoft.AspNet.Identity
@model Congressus.Web.Models.Entities.Evento
@{
    ViewBag.Title = "Certificados";
    Layout = "~/Views/Eventos/_AdministrarLayout.cshtml";
}
<h4>Certificados</h4>


@if (User.Identity.GetUserId() == Model.Presidente.UsuarioId)
{
    if (!Model.HabilitarDescargaCertificados)
    {
        <a href="@Url.Action("HabilitarDescargaCertificados", "Eventos", new { id = Model.Id })">Habilitar descarga de certificados de asistencia</a>
    }
    else
    {
        <a href="@Url.Action("DeshabilitarDescargaCertificados", "Eventos", new { id = Model.Id })">Deshabilitar descarga de certificados de asistencia</a>
    }
}

<h5 class="teal-text text-darken-1">Certificado para asistentes</h5>
@if (string.IsNullOrEmpty(Model.CertificadoAsistentesPath))
            {
                using (Html.BeginForm("UploadCertificadoAsistentes", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
        @Html.Hidden("eventoId", Model.Id)
        <div class="file-field input-field">
            <div class="btn">
                <span>Abrir</span>
                <input name="certificado" type="file">
            </div>
            <div class="file-path-wrapper">
                <input name="path" class="file-path validate" type="text" placeholder="Certificado para asistentes">
            </div>
        </div>
            <button class="btn waves-effect waves-ligt blue darken-2" type="submit">Subir</button>
    }
}
else
{
    <div class="row">
        <div class="col s3"><span>Certificado para asistentes</span></div>
        <div class="col s1">@Html.ActionLink("Ver", "VerCertificadoAsistente", new { id = Model.Id })</div>
        <div class="col s1">
            <a class="btn waves-effect waves-light" href="@Url.Action("EliminarCertificadoAsistentes",new { id = Model.Id })">
                <i class='material-icons'>delete</i>
            </a>
        </div>
    </div>
}
<br />
<hr />
<h5 class="teal-text text-darken-1">Certificado para oradores</h5>
@if (string.IsNullOrEmpty(Model.CertificadoOradoresPath))
            {
                using (Html.BeginForm("UploadCertificadoOradores", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
        @Html.Hidden("eventoId", Model.Id)
        <div class="file-field input-field">
            <div class="btn">
                <span>Abrir</span>
                <input name="certificado" type="file">
            </div>
            <div class="file-path-wrapper">
                <input name="path" class="file-path validate" type="text" placeholder="Certificado para oradores">
            </div>
        </div>
            <button class="btn waves-effect waves-ligt blue darken-2" type="submit">Subir</button>
    }
}
else
{
    <div class="row">
        <div class="col s3"><span>Certificado para oradores</span></div>
        <div class="col s1">@Html.ActionLink("Ver", "VerCertificadoOradores", new { id = Model.Id })</div>
        <div class="col s1">
            <a class="btn waves-effect waves-light" href="@Url.Action("EliminarCertificadoOradores",new { id = Model.Id })">
                <i class='material-icons'>delete</i>
            </a>
        </div>
    </div>
}
