@model Congressus.Web.Models.Entities.Evento
@{
    ViewBag.Title = "Configuracion de Inicio";
    Layout = "~/Views/Eventos/_AdministrarLayout.cshtml";
    var value = string.IsNullOrEmpty(Model.LogoPath) ? "" : Model.LogoPath.Split('/').Last();
}
<h4 class="teal-text">Configuracion de Inicio</h4>

<h5 class="teal-text">Logo de la conferencia.</h5>
@using (Html.BeginForm("SubirLogo", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("Id", Model.Id)
    <div class="file-field input-field">
        <div class="btn">
            <span>Abrir</span>
            <input type="file" name="Logo">
        </div>
        <div class="file-path-wrapper">
            <input value="@value" class="file-path validate" type="text">
        </div>
        @Html.ValidationMessage("file", new { @class = "red-text" })
    </div>
    <button class="btn waves-effect waves-ligt blue darken-2" type="submit">Subir</button>
}
<br />


<h5 class="teal-text">Imagenes inicio</h5>
@using (Html.BeginForm("SubirImagenesInicio", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("id", Model.Id)
    <div class="file-field input-field">
        <div class="btn">
            <span>Abrir</span>
            <input name="imagenes" type="file" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Sube una o mas imagenes">
        </div>
        @Html.ValidationMessage("imagenes", new { @class = "red-text" })
    </div>

    <button class="btn waves-effect waves-light blue darken-2" type="submit">Subir</button>
}


<h5 class="teal-text">Imagenes de sponsors</h5>
@using (Html.BeginForm("SubirImagenesSponsors", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("id", Model.Id)
    <div class="file-field input-field">
        <div class="btn">
            <span>Abrir</span>
            <input name="imagenes" type="file" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Sube una o mas imagenes">
        </div>
        @Html.ValidationMessage("imagenes", new { @class = "red-text" })
    </div>

    <button class="btn waves-effect waves-light blue darken-2" type="submit">Subir</button>
}


<h5 class="teal-text">Texto de bienvenida</h5>
@using (Html.BeginForm("SubirTextoInicio", "Eventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("id", Model.Id)
    @Html.TextArea("texto",Model.TextoBienvenida);
    <br />
    <button class="btn waves-effect waves-light blue darken-2" type="submit">Subir</button>
}