@model Congressus.Web.Models.EventoViewModel

@{
    ViewBag.Title = "Crear Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Evento</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>Evento</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Nombre)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre,null,new { @class="red-text"})
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.FechaFinTrabajos)
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFinTrabajos)
                @Html.ValidationMessageFor(model => model.FechaFinTrabajos, null, new { @class = "red-text" })
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.FechaFinInscripcion)
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFinInscripcion)
                @Html.ValidationMessageFor(model => model.FechaFinInscripcion, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.FechaInicio)
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicio)
                @Html.ValidationMessageFor(model => model.FechaInicio, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.FechaFin)
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFin)
                @Html.ValidationMessageFor(model => model.FechaFin, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Direccion)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Lugar)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lugar)
                @Html.ValidationMessageFor(model => model.Lugar, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Tema)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tema)
                @Html.ValidationMessageFor(model => model.Tema, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.AreasCientificas)
            <div>
                <div class="chips" style="width:38%">
                    <input type="text" />
                </div>
                @Html.HiddenFor(model => model.AreasCientificas, new { @class = "chipHidden" })
                @Html.ValidationMessageFor(model => model.AreasCientificas, null, new { @class = "red-text" })
            </div>
        </div>

        <div>
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
