@model Congressus.Web.Models.Entities.Evento

@{
    ViewBag.Title = "Eliminar evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este evento?</h3>
<div>
    <h4>Evento</h4>
    <hr />

    <table class="striped detailsTable">
        <tr>
            <th>Nombre:</th>
            <td>
                <span>@Model.Nombre</span>
            </td>
        </tr>

        <tr>
            <th>Fecha:</th>
            <td>
                <span>@Model.Fecha</span>
            </td>
        </tr>

        <tr>
            <th>Lugar:</th>
            <td>
                <span>@Model.Lugar</span>
            </td>
        </tr>

        <tr>
            <th>Tema:</th>
            <td>
                <span>@Model.Tema</span>
            </td>
        </tr>
    </table>
     

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" />
                <br />
                <br />
                @Html.ActionLink("Volver", "Index")
            </div>
        }
</div>
