@model Congressus.Web.Models.Entities.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (!string.IsNullOrEmpty(Model.LogoPath))
    {
        <img src="@Model.LogoPath" style="max-width:100%;" class="centrar" />
    }
    <h3>@Model.Nombre</h3>
    @Html.Partial("_nav")

@* TABS *@
    <div class="card-content">
        @Html.Partial("_Inicio",Model)
        @Html.Partial("_FechasImportantes",Model)
        @Html.Partial("_AreasCientificas", Model)
        @Html.Partial("_Contacto",Model)
        @Html.Partial("_Programa",Model)
        @Html.Partial("_Inscripcion",Model)
        @Html.Partial("_CharlasPartial", Model.Charlas)
        @foreach (var seccion in Model.Secciones)
        {
            <div id="@seccion.Id">
                <h5 class="teal-text">@seccion.Titulo</h5>
                <div>
                    @Html.Raw(HttpUtility.HtmlDecode(@seccion.Cuerpo))
                </div>
            </div>
        }
    </div>
</div>

@* SPONSORS *@
<div class="centrar">
    <h3 class="teal-text">Sponsors</h3>
    @if (!string.IsNullOrEmpty(Model.ImagenesSponsors)) { 
        @Html.Partial("_carousel", Model.ImagenesSponsors.Split(';'))
    }
</div>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("presidente"))
    {
        @Html.ActionLink("Administrar", "Administrar", new { id = Model.Id }) <span>|</span>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id })        <span>|</span>
    }
    <a href="javascript:history.back()">Volver</a>
</p>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-normal').carousel();
            window.setInterval(next, 3000);
            $('.carousel-slider').carousel({ fullWidth: true });
            window.setInterval(next, 3000);
        });
    </script>
}