@model Congressus.Web.Models.Entities.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Evento</h4>
    <hr />
    
    <table class="striped detailsTable">
        <tr></tr>        
        <tr>
            <th class="black-text text-accent-4"><strong>Nombre:</strong></th>
            <td><span>@Model.Nombre</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha:</strong></th>
            <td><span>@Model.Fecha</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Direccion:</strong></th>
            <td><span>@Model.Direccion</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Lugar:</strong></th>
            <td><span>@Model.Lugar</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Tema:</strong></th>
            <td><span>@Model.Tema</span></td>
        </tr>
    </table>
    

</div>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("presidente")) { 
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id })        <span>|</span>
    }
    <a href="javascript:history.back()">Volver</a>
</p>
@{ 
    var q = String.IsNullOrEmpty(Model.Direccion) ? "Argentina" : Model.Direccion;
    var src = "https://www.google.com/maps/embed/v1/place?q=" + q + "&key=AIzaSyB5LWfPe62A2B8pU7hQNVAKDtcWiKse6c8";
}
<iframe src="@src"
        width="600" 
        height="450" 
        frameborder="0" 
        style="border:0" 
        allowfullscreen>
</iframe>
