@using Microsoft.AspNet.Identity;
@model Congressus.Web.Models.Entities.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (!string.IsNullOrEmpty(Model.LogoPath))
    {
        <img src="@Model.LogoPath" style="max-width:100%;" class="center" />
    }
    <h3>@Model.Nombre</h3>
    @*@Html.Partial("_nav", Model)
        <br />*@

    @Html.Partial("_nav")

    <div class="card-content">
        @Html.Partial("_Inicio",@Model)
        @Html.Partial("_FechasImportantes",@Model)
        @Html.Partial("_Contacto",@Model)
        @Html.Partial("_Programa",@Model)
        @Html.Partial("_Inscripcion",@Model)
    </div>
</div>
<p>
    @if (User.IsInRole("admin") || User.IsInRole("presidente"))
    {
        @Html.ActionLink("Administrar", "Administrar", new { id = Model.Id }) <span>|</span>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id })        <span>|</span>
    }
    <a href="javascript:history.back()">Volver</a>
</p>


@Html.Partial("_CharlasPartial", Model.Charlas)

@section scripts{
    <script type="text/javascript">
                    $(document).ready(function () {
                        $('.carousel.carousel-slider').carousel({ fullWidth: true });
                        window.setInterval(next, 3000);
                    });
    </script>
}