@model Congressus.Web.Models.Entities.Asistente

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Asistente</h4>
    <hr />
    <table class="striped detailsTable">
        <tr>
            <th class="black-text text-accent-4"><strong>Nombre</strong></th>
            <td>@Model.Nombre</td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Apellido</strong></th>
            <td>@Model.Apellido</td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>DNI</strong></th>
            <td>@Model.DNI</td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Email</strong></th>
            <td>@Model.Usuario.Email</td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Volver", "Index")
    </p>
    <hr />
    <h4>Eventos</h4>
    <h5>Usted se está inscripto en los siguientes eventos:</h5>
    @if (Model.Eventos.Count > 0)
    {
        <table class="striped">
            <tr>
                <th>Nombre del evento</th>
                <th>Fecha de inscripcion</th>
                <th>Fecha de inicio</th>
                <th>Acciones</th>
            </tr>
            @foreach (var inscripcion in Model.Eventos)
            {
                <tr>
                    <td>
                        <strong>
                            <a href="@Url.Action("Details","Eventos",new { id = inscripcion.Evento.Id })">@inscripcion.Evento.Nombre</a>
                        </strong>
                    </td>
                    <td>@inscripcion.Fecha</td>
                    <td>@inscripcion.Evento.FechaInicio</td>
                    <td><a href="@Url.Action("EliminarInscripcionEvento",new { inscripcionId = inscripcion.Id})">Eliminar Inscripción</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No se han encontrado inscripciones.</p>
    }
    <hr />
    <h4>Charlas/talleres</h4>
    <h5>Usted está inscripto a las siguientes charlas:</h5>
    @if (Model.Charlas.Count > 0)
    {
        <table class="striped">
            <tr>
                <th>Evento de la charla</th>
                <th>Titulo de la charla</th>
                <th>Tipo</th>
                <th>Fecha de inscripcion</th>
                <th>Dia y horario</th>
                <th>Acciones</th>
            </tr>
            @foreach (var inscripcion in Model.Charlas.OrderBy(x => x.Charla.Evento.Nombre))
            {
                <tr>
                    <td>@inscripcion.Charla.Evento.Nombre</td>
                    <td>
                        <strong>
                            <a href="@Url.Action("Details","Charlas", new { id = inscripcion.Charla.Id})">@inscripcion.Charla.Titulo</a>
                        </strong>
                    </td>
                    <td>@inscripcion.Charla.Tipo</td>
                    <td>@inscripcion.Fecha</td>
                    <td>@inscripcion.Charla.FechaHora</td>
                    <td><a href="@Url.Action("EliminarInscripcionCharla",new { inscripcionId = inscripcion.Id})">Eliminar Inscripción</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No se han encontrado inscripciones.</p>
    }
</div>
