@model Congressus.Web.Models.Entities.Asistente

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Asistente</h4>
    <hr />
    <table class="striped detailsTable">
        <tr>
            <th class="black-text text-accent-4"><strong>Nombre</strong></th>
            <td>@Model.Nombre</td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Apellido</strong></th>
            <td>@Model.Apellido</td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>DNI</strong></th>
            <td>@Model.DNI</td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Email</strong></th>
            <td>@Model.Usuario.Email</td>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Volver", "Index")
    </p>
    <hr />
    <h4>Eventos</h4>
    <h5>Usted se está inscripto en los siguientes eventos:</h5>
    @if (Model.Eventos.Count > 0)
    {
        <table class="striped detailsTable">
            <tr>
                <th>Nombre del evento</th>
                <th>Fecha de inscripcion</th>
                <th>Fecha de inicio</th>
                <th>Acciones</th>
            </tr>
            @foreach (var inscripcion in Model.Eventos)
            {
                <tr>
                    <td>
                        <strong>
                            <a href="@Url.Action("Details","Eventos",new { id = inscripcion.Evento.Id })">@inscripcion.Evento.Nombre</a>
                        </strong>
                    </td>
                    <td>@inscripcion.Fecha</td>
                    <td>@inscripcion.Evento.FechaInicio</td>
                    <td>
                        <a href="@Url.Action("EliminarInscripcionEvento",new { inscripcionId = inscripcion.Id})">Eliminar Inscripción</a> |
                        
                        @Ajax.ActionLink("Ver solo charlas de este evento", "FiltrarCharlas", new { eventoId = inscripcion.Evento.Id },new AjaxOptions {HttpMethod = "GET",InsertionMode = InsertionMode.Replace, UpdateTargetId = "charlas"})
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No se han encontrado inscripciones.</p>
    }
    <hr />
    <h4>Charlas/talleres</h4>
    <h5>Usted está inscripto a las siguientes charlas:</h5>
    <div id="charlas">
        @Html.Partial("_Charlas", Model.Charlas)
    </div>
    @Ajax.ActionLink("Ver todas las charlas a las que estoy inscripto", "Charlas", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "charlas"})
</div>
