@model Congressus.Web.Models.Entities.Evento
<nav>
    <div class="nav-wrapper teal">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="@Url.Action("Administrar", "Eventos", new { id = Model.Id })"><i class="material-icons icono-small left">settings_applications</i>Administrar</a>
            </li>
            <li>
                <a href="@Url.Action("ConfiguracionInicio", "Eventos", new { id = Model.Id })"><i class="material-icons icono-small left">settings</i>Configurar Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("Certificados", "Eventos", new { id = Model.Id })"><i class="material-icons icono-small left">description</i> Certificados</a>
            </li>
            <li>
                <a href="@Url.Action("ComiteEvaluador", "Eventos", new { id = Model.Id })"><i class="material-icons icono-small left">supervisor_account</i>Comité Evaluador</a>
            </li>
            <li>
                <a href="@Url.Action("Listado", "Becas", new { EventoId = Model.Id })"><i class="material-icons icono-small left">clear_all</i>Solicitudes de Becas</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Secciones", new { id = Model.Id })"><i class="material-icons icono-small left">clear_all</i>Secciones</a>
            </li>
        </ul>
    </div>
</nav>

