<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Congressus</title>
        @Styles.Render("~/Content/site.css")
        @Styles.Render("~/Content/datetimepicker.min.css")
        @Styles.Render("~/Content/materialize.css")


    </head>
<body>
    <nav>
        <div class="nav-wrapper white">
            <a href="#" class="brand-logo">
                <img src="~/Content/Images/congressusLogo.png" class="logo"/>
            </a>
            <div class="centrar navBtn">
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>                    
                    <li>@Html.ActionLink("Eventos", "BuscarEvento", "Eventos")</li>
                    <li>@Html.ActionLink("Sobre nosotors", "About", "Home")</li>
                </ul>
            </div>
            <div class="LoginPartial">@Html.Partial("_LoginPartial")</div>
        </div>
    </nav>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="card sideMenuDiv ">
            <div class="sideMenuTitulo">
                <span class="titulo"><i class="material-icons icono-medium">view_list</i> Menu</span>
                <br /><br />
            </div>
            <ul class="sideMenuUl">

                
                @if (!User.IsInRole("asistente"))
                {
                    <li><a href=@Url.Action("Index", "Eventos") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">event</i>Mis Eventos</a></li>
                    <li><a href=@Url.Action("Index", "Papers") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">description</i>Mis Papers</a></li>
                }
                @if (User.IsInRole("autor"))
                {
                    <li><a href=@Url.Action("Charlas", "Autores") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">mic_none</i>Mis Charlas</a></li>
                    <li><a href=@Url.Action("Details", "Autores") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">account_circle</i>Perfil</a></li>                    
                }
                @if (User.IsInRole("autor") || User.IsInRole("asistente"))
                {
                    <li><a href=@Url.Action("BuscarEvento", "Eventos") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">search</i>Buscar</a></li>
                }
                @if (User.IsInRole("presidente") || User.IsInRole("admin"))
                {
                    <li><a href=@Url.Action("Index", "Miembros") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">perm_identity</i>Miembros</a></li>
                }
                @if (User.IsInRole("presidente") || User.IsInRole("MiembroComite"))
                {
                    <li><a href=@Url.Action("Details", "Miembros") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">account_circle</i>Perfil</a></li>
                }
                @if (User.IsInRole("asistente"))
                {
                    <li><a href=@Url.Action("Details", "Asistentes") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">account_circle</i>Perfil</a></li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li><a href=@Url.Action("Index", "Users") class="btn-flat waves-effect waves-teal"><i class="material-icons icono-small">supervisor_account</i>Usuarios</a></li>
                }
            </ul>
        </div>
    }

    <div class="RenderBody">
        <div class="card contenido">
            <div class="card-content centrar">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Resumen</h5>
                    <p class="grey-text text-lighten-4">
                        Sistema de organizacion de conferencias que facilita la comunicacion entre oradores y organizadores en relacion con los paper que los primeros presentan para la creacion de las charlas que se desarrollaran.
                    </p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Institucion</h5>
                    <ul>
                        <li><a class="blue-text text-lighten-3" href="http://frre.utn.edu.ar">UTN - FRRe</a></li>

                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contacto</h5>
                    <ul>
                        <li><a class="white-text" href="#!">fernando.asulay@gmail.com</a></li>
                        <li><a class="white-text" href="#!">maxiaquino0@gmail.com</a></li>
                        <li><a class="white-text" href="#!">javier.wetzel@gmail.com</a></li>
                        <li><a class="white-text" href="#!">eliana.beker@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Hecho por <a class="brown-text text-lighten-3" href="#">Alumnos Catedra Proyecto Final ISI - UTN - FRRe</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUnobtrusive")
    @Scripts.Render("~/Scripts/materialize.js")
    @Scripts.Render("~/Scripts/datetimepicker.min.js")
    @Scripts.Render("~/Scripts/UI_Config.js")
    @RenderSection("scripts", required: false)
</body>
</html>
