@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    string rol = null;
    if (User.IsInRole("asistente"))
    {
        rol = "Asistentes";
    }else if(User.IsInRole("presidente") || User.IsInRole("miembro"))
    {
        rol = "Miembros";
    }else if(User.IsInRole("autor"))
    {
        rol = "Autores";
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul id="changePassword">

            <li>
                @if (rol != null) { 
                <a href="@Url.Action("Details", rol)">
                    @User.Identity.GetUserName()
                </a>
                }
                else
                {
                    <a>@User.Identity.GetUserName()</a>
                }
                <ul>

                    <li>@Html.ActionLink("Cambiar la contraseña", "ChangePassword", "Manage")</li>

                </ul>

            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>

        </ul>
    }
}
else
{
    <ul>
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
